<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <i class="material-icons xlg-icon">account_circle</i>
    </div>
  </div>
  <div class="row" *ngIf="this.ls.currentUser$ | async as user">
    <div class="col-md-12 text-center">
      <h2>Welcome, {{user.user.firstName ? (user.user.firstName | titlecase) : user.user.id}}</h2>
    </div>
  </div>
  <div class="row text-muted">
    <div class="col-md-12 text-center">
      <p>Manage your info, privacy, and security for your FIFA account.</p>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
