.top-nav {
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6;
  z-index: 900 !important;
}

.logo-side {
  position: absolute;
  transform: rotate(335deg);
  left: -60px;
  top: 10px;
  z-index: 99;
  color: #2F91F2;
  font-size: 35px;
  text-decoration: underline;
}

.active-ul {
  text-decoration: underline;
}

.brand {
  text-align: center;
  display: block;
}

.disabled-link {
  pointer-events: none;
}

.login-section {
  display: flex;
  align-items: center;
}

a {
  color: #333;
  text-decoration: none;
}

.nav-spacer {
  flex: 1 1 auto;
}

.logo-img {
  height: 45px;
  border-radius: 40px;
  border: 2px solid #20a22a;
}

a.login-link {
  color: #64E76F !important;
}

a.logout-link {
  color: #F99D94 !important;
}