<nav class="navbar navbar-expand-lg navbar-light sticky-top top-nav no-padding font-25 mb-5">
  <a class="navbar-brand brand" [routerLink]="['/']">
    <div class="banner-logo-parent">
      <span class="logo-side cursive-font font-weight-bold">Squad</span>
      <img src="assets/images/banner1.png" class="logo-img d-inline-block" alt="logo">
      <div class="font-25 pl-1 right-font a-green">{{ subTitle }}</div>
    </div>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
    aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [bsDropDown]="menuOpen" id="navbarNavAltMarkup">
    <div class="navbar-nav right-font">
      <a *ngFor="let item of navItemsList" 
        [ngClass]="{'nav-item':true, 'nav-link':true, 'disabled-link disabled':item.disabled, 
          'login-link':item.display === 'Login', 'logout-link':item.display === 'Logout'}" 
        [routerLink]="item.params"
        [preserveFragment]="false"
        [queryParamsHandling]="item.handling"
        [queryParams]="item.qparams"
        [routerLinkActiveOptions]="{exact:false}"
        routerLinkActive="active active-ul">
          {{item.display}} 
          {{ (item.display === 'Logout' && this.ls.currentUser.user.id) ? '('+this.ls.currentUser.user.id+')' : ''}}
      </a>
    </div>
  </div>

</nav>
  