<mat-card class="season-card mat-elevation-z0">
  <mat-card-header>
    <div mat-card-avatar class="season-avartar"></div>
    <mat-card-title> PVP {{seasonInfo.title}}</mat-card-title>
    <mat-card-subtitle>
      <season-info-bar [seasonInfo]="seasonInfo"></season-info-bar>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image 
    src="/assets/images/season-kickoff-mode.jpg" alt="pvp mode img">
  <mat-card-content>
    <p>
      Season content.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>