<mat-form-field>
  <mat-label>Search for...</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Season names">
</mat-form-field>

<div class="mat-elevation-z0">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container *ngFor="let column of columns" [matColumnDef]="column.id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.display }} </th>
      <td mat-cell *matCellDef="let element"> {{ element[column.id] }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[15, 30]"></mat-paginator>
</div>
