<h1 mat-dialog-title class="text-center">
  <div>
    <img src="assets/images/banner1.png" class="logo-img d-inline-block" alt="logo">
  </div>
  <app-loading-bar *ngIf="isSeasonSaving"></app-loading-bar>
</h1>

<div mat-dialog-content class="">
  <h2 class="season-header text-center">
    <span>{{ title }}</span>
  </h2>
  <div class="season-subheader roboto-font mb-20 text-center">{{subTitle}} 
    <span class="season-count">{{inputData}}</span> {{subTitleSuffix}}
  </div>

  <form [formGroup]="inputFg">
    <mat-vertical-stepper linear="false" #seasonStepper>
      <mat-step *ngFor="let step of steps; index as i; first as isFirst; last as isLast">
        <ng-template matStepLabel>
          <span class="right-font font-20">
            {{step.labelName}}
          </span>
        </ng-template>
        
        <input *ngIf="!isLast && step.formCtrlName !== 'gamesCount'" type="text" 
          placeholder="Select a player" matInput (focus)="onSelectFocus(step.formCtrlName)"
          [formControlName]="step.formCtrlName" [matAutocomplete]="playerAuto">
          
        <mat-autocomplete [autoActiveFirstOption]="false" (opened)="onSelectOpen(step.formCtrlName)"
          (closed)="onSelectClosed()" #playerAuto="matAutocomplete" [displayWith]="playerIdDisplayFn">
          <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
            {{user.user.id}} ({{user.user.firstName}}, {{user.user.lastName}})
          </mat-option>
        </mat-autocomplete>

        <mat-form-field *ngIf="!isLast && step.formCtrlName === 'gamesCount'" class="mt-2">
          <input matInput [placeholder]="step.phDisplay" [formControlName]="step.formCtrlName">
          <mat-hint>{{step.hint}}</mat-hint>
        </mat-form-field>

        <section *ngIf="step.formCtrlName === 'review'">
          <div class="row">
            <div class="col-md-4 text-break text-primary font-15">
              {{player1Ctrl.value | userDisplay:'first_id' | titlecase}}
            </div>
            <div class="col-md-4 right-font font-italic font-weight-bold font-15">
              vs.
            </div>
            <div class="col-md-4 text-break text-success font-15">
              {{player2Ctrl.value | userDisplay:'first_id' | titlecase}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 font-13 mt-2 roboto-font text-info">
              Season length: {{gamesCount.value}} games.
            </div>
          </div>
        </section>

        <div class="mt-4">
          <button class="mr-2" mat-flat-button *ngIf="!isFirst" mat-button [color]="'accent'" 
            (click)="onBack(i)">
              {{step.buttonBackDisplay}}
          </button>
          <button mat-flat-button mat-button [color]="'primary'" 
            (click)="onNext(isLast, i)">
              {{isLast ? btnConfirm : step.buttonNextDisplay}}
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
  <div class="text-danger font-12 d-block mt-4" 
    *ngIf="triedToSubmit && (!inputFg.valid || formErrors.length>0)">
    Please fix the following errors before starting the season:
    <ul *ngFor="let err of formErrors">
      <li>{{err}}</li>
    </ul>
  </div>
</div>

<div mat-dialog-actions class="right-font float-right">
  <button mat-flat-button (click)="onCancel()" color="accent">
    {{ btnCancel }}
  </button>
</div>