<h1 mat-dialog-title class="text-center">
  <div>
    <img src="assets/images/banner1.png" class="logo-img d-inline-block" alt="logo">
  </div>
</h1>

<div mat-dialog-content class="right-font text-center">
  <h2 class="season-header">
    <span>{{ title }}</span>
  </h2>
  <div class="season-subheader mb-20">{{ subTitle }}</div>
  <!-- <mat-form-field appearance="outline">
    <mat-label>Login ID</mat-label>
    <input matInput placeholder="ID" cdkFocusInitial [(ngModel)]="currentUser.user.id" 
      (ngModelChange)="onLoginNameChange($event)">
  </mat-form-field> -->


</div>