.season-header {
  font-size: 20px;
}

.season-subheader {
  font-size: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.season-count {
  text-decoration: underline;
  font-weight: 700;
}

.mat-form-field {
  display: block !important;
}

input.player.mat-input-element  {
  border-bottom: 1px solid #ccc;
}