.game-title {
  border-bottom: 1px solid #ccc;
  display: inline-flex;
  width: 150px;
  justify-content: center;
}

.done-green {
  color: #00b300;
}

.blue-text {
  color: #000099;
}

.team-name {
  font-weight: 700;
  font-size: 20px;
  color: #1d1e1f;
}

.middle-text {
  font-size: 18px;
}

.faded {
  color: #727274;
}

.hor-line {
  border-top: 1px solid #ccc;
  flex: auto;
  min-width: 32px;
  /* margin: 0 20px; give a padding on left and right side*/
}

.info-banner { 
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
}