<div class="container-fluid">
  <div *ngFor="let game of seasonGames; index as gameIndex" class="mt-4">

    <!-- horizontal line and game status -->
    <div class="row mb-2">
      <div class="col-md-12 text-center info-banner">
        <div class="hor-line"></div>
        <h6 class="no-margin" [title]="game.finished ? 'Game over' : 'Game in progress'">
          Game {{gameIndex+1}}
          <div class="font-1">
            <i class="material-icons done-green" 
              [ngClass]="{'animate-loading':!game.finished}">
                {{game.finished ? 'check_circle' : 'fiber_manual_record'}}
            </i>
          </div>
        </h6>
        <div class="hor-line"></div>
      </div>
    </div>

    <!-- game score -->
    <div class="row mb-3">
      <ng-template ngFor let-controller [ngForOf]="game.controllers" let-i="index" let-isLast="last">
        <div class="text-center team-name" [ngClass]="{'col-md-1 col-2':isLast, 'col-md-3 col-3':!isLast}">
          {{ isLast ? controller.goalsScored : (controller.teamName + ' (' + controller.user.user.id + ')') }}
        </div>
        <div class="text-center team-name" [ngClass]="{'col-md-3 col-3':isLast, 'col-md-1 col-2':!isLast}">
          {{ isLast ? (controller.teamName + ' (' + controller.user.user.id + ')') : controller.goalsScored }}
        </div>
        <div class="col-md-4 col-2 text-center middle-text" *ngIf="!isLast">
          vs
        </div>
      </ng-template>
    </div>

    <!-- scorers -->
    <div class="row">
      <ng-template ngFor let-controller [ngForOf]="game.controllers" let-i="index" let-isLast="last">
        <div class="col-md-4 text-center">
          <span *ngFor="let goalDetail of controller.goalDetails" class="scorer-name mr-1">
            <fa-icon [icon]="['fas', 'futbol']"></fa-icon> {{goalDetail.goalScorer}} ({{goalDetail.goalTime}}')
          </span>
        </div>
        <div class="col-md-4 col-2 text-center middle-text" *ngIf="!isLast">
          
        </div>
      </ng-template>
    </div>

    <!-- game editor -->
    <ng-template [ngIf]="gameToEdit">
      <season-game-editor [game]="gameToEdit" (onGameSaved)="onGameSave($event, gameIndex)" 
        (onGameCancel)="onGameCancel()"></season-game-editor>
    </ng-template>
    <div *ngIf="!gameToEdit" class="row mt-4">
      <div class="col">
        <button class="btn btn-light w-100" (click)="onEditGame(gameIndex)">Edit</button>
      </div>
    </div>
  </div>
</div>