<div>
  <div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="card profile-card">
        <div class="card-body">
          <h5 class="card-title">Privacy & personalization</h5>
          <p class="card-text profile-card-body text-muted">Update your personal account information.</p>
          <a class="btn btn-light btn-block"
            [routerLink]="['edit']"
            [preserveFragment]="false">Review my account</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card profile-card">
        <div class="card-body">
          <h5 class="card-title">Season Information</h5>
          <p class="card-text profile-card-body text-muted">
            Review your past seasons, win-loss records, most used players, favorite teams and more.
          </p>
          <a class="btn btn-light btn-block">Review my seasons</a>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>