<div [formGroup]="seasonFg">
  <section class="row">
    <div class="col-md-8 offset-md-2">
      <h4>Record (W-D-L)</h4>
      <hr>
    </div>
  </section>

  <div formGroupName="data">
    <section class="row mb-4" >
      <div class="col-md-8 offset-md-2">
        {{ userMetaFg.get('wins').value | recordPipe }} - {{ userMetaFg.get('draws').value | recordPipe }} -
        {{ userMetaFg.get('losses').value | recordPipe }}
      </div>
    </section>
    
    <section class="row">
      <div class="col-md-8 offset-md-2">
        <h4>Favorite Team & Player</h4>
        <hr>
      </div>
    </section>
  
    <section class="row mb-2">
      <div class="col-md-8 offset-md-2">
        {{ (userMetaFg.get('mostUsedTeam').value | teamNamePipe).name }} 
        {{ (userMetaFg.get('mostUsedTeam').value | teamNamePipe).url }}
      </div>
    </section>
    <section class="row mb-4">
      <div class="col-md-8 offset-md-2">
        <span>Favorite Player: {{ (userMetaFg.get('favoritePlayer').value) }}</span>
      </div>
    </section>

    <section class="row">
      <div class="col-md-8 offset-md-2">
        <h4>Stats</h4>
        <hr>
      </div>
    </section>
  
    <section class="row mb-2">
      <div class="col-md-8 offset-md-2">
        <div>
          <span>Total Goals Scored: {{ (userMetaFg.get('totalGoalsScored').value | recordPipe) }} </span>
        </div>
        <div>
          <span>Total Goals Conceded: {{ (userMetaFg.get('totalGoalsConceded').value | recordPipe) }}</span>
        </div>
      </div>
    </section>
  </div>
  
  
  
</div>
  