<div class="row mb-5 mt-2">
  <h2 [ngClass]="{'mobile-title':this.cs.isUserMobile, 'col-md-6':true}">
    {{title | titlecase}}
  </h2>
  <a *ngFor="let item of seasonCategoryLinks" 
    [ngClass]="{'nav-item':true, 'nav-link':true, 'col-md-2':true,
      'disabled-link disabled':item.disabled, 'selected':(currentFagment===item.fragment)}" 
    [routerLink]="item.params"
    [preserveFragment]="false"
    [queryParamsHandling]="item.handling"
    [queryParams]="item.qparams"
    [fragment]="item.fragment"
    [routerLinkActiveOptions]="{exact:true}"
    routerLinkActive="">
      {{item.display}} 
  </a>
</div>

<div *ngFor="let season of allSeasons; index as seasonIndex; trackBy: trackByFn" class="row mb-5">
  <div class="col-md-8">
    <mat-card class="season-card">
      <mat-card-header>
        <mat-card-title>Season</mat-card-title>
        <mat-card-subtitle>Winner:</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Season content.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
  

  