<div class="container">
  <div class="row mb-2 mt-2">
    <h2 [ngClass]="{'mobile-title':this.cs.isUserMobile, 'col-md':true}">
      {{title | titlecase}}
    </h2>
    <!-- <a *ngFor="let item of seasonCategoryLinks" 
      [ngClass]="{'nav-item':true, 'nav-link':true, 'col-md-2':true,
        'disabled-link disabled':item.disabled, 'selected':(currentFagment===item.fragment)}" 
      [routerLink]="item.params"
      [preserveFragment]="false"
      [queryParamsHandling]="item.handling"
      [queryParams]="item.qparams"
      [fragment]="item.fragment"
      [routerLinkActiveOptions]="{exact:true}"
      routerLinkActive="">
        {{item.display}} 
    </a> -->
  </div>
  <div class="row mb-2 mt-2" *ngIf="this.cs.badSeasonCount > 0">
    <h5 class="col-md-12">There are {{this.cs.badSeasonCount}} seasons with errors.</h5>
  </div>
  
  <div *ngFor="let season of seasonsDisplay; index as seasonIndex;" class="row">
    <feed-season class="col-lg-8 col-md-12 mb-5" [seasonInfo]="season"></feed-season>
  </div>
</div>


  

  