<div class="row text-center">
  <h6 class="col">
    {{defaultTitle}}
  </h6>
</div>
<div class="row text-center">
  <div class="col col-md-12">
    Game started on <span class="font-weight-bold">{{datePlayedTitle}}</span>, 
    it is <span class="font-weight-bold">{{gameStatusTitle}}</span>.
  </div>
</div>
<hr/>
<ng-container [formGroup]="gameFg">
  <ng-container formArrayName="controllers">
    <ng-container *ngFor="let controller of gameControllers.controls; index as i;" [formGroupName]="i">
      <div class="row">
        <!-- goals scored -->
        <div class="col col-md-2 mt-3">
          <mat-form-field appearance="outline">
            <mat-label>Goals Scored</mat-label>
            <input matInput placeholder="Goals Scored" formControlName="goalsScored">
          </mat-form-field>
        </div>
        <!-- team name  -->
        <div class="col col-md-4 mt-3">
          <mat-form-field appearance="outline">
            <mat-label>Team</mat-label>
            <input matInput placeholder="Team Name" formControlName="teamName">
            <mat-icon matSuffix class="colored">{{getGameController(i).get('teamName').errors ? 'error' : 'done'}}</mat-icon>
          </mat-form-field>
        </div>
        <!-- user select -->
        <div class="col col-md-4 mt-3">
          <mat-form-field>
            <input type="text" placeholder="Controller" matInput (focus)="onSelectFocus(i, 'user')" class="player"
              formControlName="user" [matAutocomplete]="playerAuto">
            <mat-autocomplete [autoActiveFirstOption]="false" #playerAuto="matAutocomplete" 
              [displayWith]="playerIdDisplayFn">
              <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                {{user.user.id}} ({{user.user.firstName}}, {{user.user.lastName}})
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <!-- NEW goal button -->
        <div class="col col-md-2 mt-3 my-auto">
          <button mat-stroked-button color="primary" class="goal-btn" (click)="onNewGoal(i)">Goal!</button>
        </div>
      </div>
      
      <!-- Goal Details display -->
      <ng-container formArrayName="goalDetails">
        <div class="row" *ngFor="let detail of gameControllers.at(i).get('goalDetails')['controls']" [formGroupName]="i">
          <div class="col col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Scorer Name</mat-label>
              <input matInput placeholder="Scorer Name" formControlName="goalScorer">
            </mat-form-field>
          </div>
          <div class="col col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Time</mat-label>
              <input matInput placeholder="Time" formControlName="goalTime">
            </mat-form-field>
          </div>
        </div>
      </ng-container>
      
      
      <!-- hr line break -->
      <hr/>
    </ng-container>
  </ng-container>

  <div class="row">
    <div class="col col-md-12 mt-3">
      <mat-checkbox class="" formControlName="finished">Game Completed?</mat-checkbox>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-12 mt-3">
      <mat-form-field class="">
        <input matInput [placeholder]="dateplayedPlaceholder" 
          formControlName="datePlayed" [errorStateMatcher]="initErrorMatcher">
        <mat-hint>{{datePlayedHint}}</mat-hint>
        <mat-error *ngIf="datePlayedControl.hasError('required')">
          Game date is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="!datePlayedControl.hasError('required') && datePlayedControl.hasError('dateInputError')">
          Date format is <strong>invalid</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</ng-container>



<div class="row mt-4">
  <div class="col">
    <button mat-stroked-button class="" color="primary" (click)="onSave()">Save</button>
  </div>
</div>