.col-md-2 .mat-form-field, .col-md-3 .mat-form-field, .col-md-4 .mat-form-field {
  display: inline;
}

.btn.btn-light {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.btn:disabled {
  cursor: not-allowed;
}