<div>
  <div class="d-flex">
    <i class="material-icons md-18" [title]="'Season start date' + dateTooltipSuffix">
      date_range
    </i>
    <span [dateDisplayType]="createdDateDisplay" [dateString]="seasonInfo.startDate" class="mr-2"
      title="Season start date">
      {{seasonInfo.startDate}}
    </span>

    <i class="material-icons md-18" [title]="'Last edited date' + dateTooltipSuffix">
      edit
    </i>
    <span [dateDisplayType]="createdDateDisplay" [dateString]="seasonInfo.lastEdited.date" class="mr-2"
      [title]="'Last edited date'">
      {{seasonInfo.lastEdited.date}}
    </span>

    <!-- User One -->
    <i class="material-icons md-18" title="Player 1">
      {{playerOne | userIconDisplay}}
    </i>
    <span class="mr-1">{{playerOne | userDisplay:'first_id'}}</span>

    <span class="mr-1">vs.</span>

    <!-- User Two -->
    <i class="material-icons md-18" title="Player 2">
      {{playerTwo | userIconDisplay}}
    </i>
    <span class="mr-2">{{playerTwo | userDisplay:'first_id'}}</span>

    <!-- Number of games -->
    <i class="material-icons md-18" title="Number of games to play">
      emoji_flags
    </i>
    <span class="mr-2">{{seasonInfo.gamesTotal}} to play</span>


  </div>
</div>