/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:100i,300i,100,300,400,400i');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');


h1 {
  font-family: 'Righteous', cursive;
}

h2 {
  font-family: 'Righteous', cursive;
}

h3 {
  font-family: 'Righteous', cursive;
}

h5 {
  font-family: 'Righteous', cursive;
}

p {
  font-family: 'Roboto', sans-serif;
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
}

.right-font {
  font-family: 'Righteous', cursive;
}

.cursive-font {
  font-family: 'Permanent Marker', cursive;
}

.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.font-17 {
  font-size: 17px;
}

.font-15 {
  font-size: 15px;
}

.font-10 {
  font-size: 10px;
}

.a-green {
  color: #20a22a;
}

.no-padding {
  padding: 0 !important;
}

.timer-snack-bar {
  color: #fff !important;
  font-family: 'Roboto';
  min-width: 200px !important;
  background-color: #2952a3 !important;
}

.xlg-icon {
  font-size: 70px;
}

.lg-icon {
  font-size: 40px;
}

.xs-icon {
  font-size: 15px;
}

.login-overlay-background {
  background: #595959;
  opacity: 0.9 !important;
}

 /* Rules for sizing the icon. */
 .material-icons.md-18 { font-size: 18px; }
 .material-icons.md-24 { font-size: 24px; }
 .material-icons.md-36 { font-size: 36px; }
 .material-icons.md-48 { font-size: 48px; }

.mat-flat-button {
  font-family: 'Righteous', cursive !important;
}

.btn {
  font-family: 'Righteous', cursive;
}